appnope==0.1.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
bleach==2.1.4
cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
clipper==0.2.0
clipper-admin==0.2.0
configparser==3.5.0
cycler==0.10.0
Cython==0.28.3
decorator==4.3.0
defusedxml==0.5.0
docker==3.3.0
docker-pycreds==0.2.3
entrypoints==0.2.3
enum34==1.1.6
functools32==3.2.3.post2
futures==3.2.0
google-auth==1.4.1
html5lib==1.0.1
idna==2.6
ipaddress==1.0.22
ipykernel==4.8.2
ipython==5.7.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
kubernetes==6.0.0
MarkupSafe==1.0
matplotlib==2.2.2
mistune==0.8.3
nbconvert==5.4.0
nbformat==4.4.0
notebook==6.4.10
numpy==1.14.3
oauthlib==2.1.0
pandocfilters==1.4.2
pathlib2==2.3.2
pexpect==4.5.0
pickleshare==0.7.4
prometheus-client==0.3.1
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pyasn1==0.4.3
pyasn1-modules==0.2.1
pybedtools==0.7.10
Pygments==2.2.0
pyparsing==2.2.0
pysam==0.14.1
python-dateutil==2.7.3
pytz==2018.4
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.4.1
requests==2.18.4
requests-oauthlib==0.8.0
rsa==3.4.2
scandir==1.7
scikit-learn==0.19.1
scipy==1.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.5.1
terminado==0.8.1
testpath==0.3.1
tornado==5.0.2
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.48.0
widgetsnbextension==3.4.2
